<footer>
            <ul class="footer">
                <li class="nosotrosM">
                    <h3>Nosotros</h3>
                    <ul class="nosotros">
                        <li><a href="">Quienes somos?</a></li>
                        <li><a href="#">Servicio que ofrecemos</a></li>
                    </ul>
                </li>
                <li class="pagosM">
                    <h3>Metodos de pago</h3>
                    <ul class="pagos">
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <div class="img-icon-container">
                            <img src="/assets/img/mercado.png" alt="">
                        </div>
                    </ul>
                </li>
            </ul>
        <div class="linea"></div>
         <div class="redes">
            <a href="https://www.instagram.com/danidev21" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/daniel-villalba-b60415281/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://wa.link/rdials" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <span class="copyright">&copy Todos los derechos reservados. <a href="https://github.com/daniDev6" class="text-success fs-5 m-2">DaniDev6</a></span>

    </footer>