<header id="header" class="header">
        <div id="nav-header" class="nav-container">
            <a href="/usuario/login" class="login-img"><img src="/assets/img/aro.png" alt="logo"></a>
            <label for="menu" class="hamburguesa-icon" id="hamburguesa">|||</label>
            <div class="menu-escritorio letra-menu">
                <a href="/admin/home">Home</a>
                <a href="/admin/formulario">Contacto</a>
                <a href="/admin/galeria">Galeria</a>
                <a href="/admin/nosotros">Sobre Nosotros</a>
                <a href="/admin/crear/producto">Cargar Producto</a>
                <a href="/admin/lista/usuarios">Lista Usuarios</a>
                <a href="/pedido">Lista Pedidos</a>
                <form action="/usuario/logout"><button class="btn btn-danger" type="submit">Logout</button></form>
            </div>
        </div>

        <input type="checkbox" id="menu">
        <nav class="menu-movile admin-menu letra-menu">
            <a href="/admin/home">Home</a>
            <a href="/admin/formulario">Contacto</a>
            <a href="/admin/galeria">Galeria</a>
            <a href="/admin/nosotros">Sobre Nosotros</a>
            <a href="/admin/crear">cargar Producto</a>
            <a href="/admin/lista/usuarios">Lista Usuarios</a>
            <a href="/pedido">Lista Pedidos</a>
            <form action="/usuario/logout"><button class="btn btn-danger" type="submit">Logout</button></form>
        </nav>
</header>