<header id="header" class="header">
    <div id="nav-header" class="nav-container">
        <a href="/cliente/login" class="login-img"><img src="/assets/img/IMAGENES/logo2.png" alt="logo"></a>
        <label for="menu" class="hamburguesa-icon" id="hamburguesa">|||</label>
        <div class="menu-escritorio letra-menu">
            <a href="/cliente/home">Home</a>
            <a href="/cliente/formulario">Contacto</a>
            <a href="/cliente/galeria">Galeria</a>
            <a href="/cliente/nosotros">Sobre Nosotros</a>
        </div>
    </div>

    <input type="checkbox" id="menu">
    <nav class="menu-movile letra-menu">
        <a href="/cliente/home">Home</a>
        <a href="/cliente/formulario">Contacto</a>
        <a href="/cliente/galeria">Galeria</a>
        <a href="/cliente/nosotros">Sobre Nosotros</a>
    </nav>
</header>