{{>navUsuario}}
<style>
    .contenedor-grid{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin:2rem auto;
    }
</style>
<main>

<section class="contenedor-grid">
    
        <article>
            <h2>Servicios</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste tenetur praesentium fugit laborum voluptatem facere rerum nam libero temporibus officia hic voluptate, quidem nemo sint deserunt obcaecati ut alias quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae molestias veniam voluptatem, necessitatibus consectetur eum. Quo libero similique rerum itaque doloremque nemo? Delectus necessitatibus quisquam minus illum nesciunt adipisci! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus asperiores molestias dolor similique nulla rerum exercitationem veritatis cupiditate dicta, ad sapiente minima explicabo itaque nisi modi eos pariatur sunt dolorem.
            </p>
        </article>
        <article>
            <h2>Sobre Nosotros</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste tenetur praesentium fugit laborum voluptatem facere rerum nam libero temporibus officia hic voluptate, quidem nemo sint deserunt obcaecati ut alias quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae molestias veniam voluptatem, necessitatibus consectetur eum. Quo libero similique rerum itaque doloremque nemo? Delectus necessitatibus quisquam minus illum nesciunt adipisci! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus asperiores molestias dolor similique nulla rerum exercitationem veritatis cupiditate dicta, ad sapiente minima explicabo itaque nisi modi eos pariatur sunt dolorem.
            </p>
        </article>
</section>
</main>
 {{>footerUsuario}}