
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>DayTortas</title>
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylenuevo.css">

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contacto-form{
    max-width: 700px;
    width: 80%;
    border: 1px solid white;
    padding: 2rem;
    border-radius: 1rem;
    }
h2{
    text-align: center;
}
.center{
    display: flex;
    justify-content: end;
    gap:1rem
}
main{
    background-color:#23272E ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-top: 1rem;
}
</style>
</head>
<body>
    

<main>

<div class="contacto-form">
<form action="/usuario/register" method="post">
    <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="nombre" required class="form-control" id="nombre" placeholder="nombre" name="nombre">
    </div>
    <div class="col-md-6">
        <label for="inputState" class="form-label">Tipo de Usuario</label>
        <select id="inputState" class="form-select" required name="rol">
            <option selected>Elige el tipo de Usuario</option>
            <option value="1">Administrador</option>
        <option value="2">Usuario</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email Contacto</label>
        <input type="email" required class="form-control" id="email" placeholder="pX1Pm@example.com" name="email">
    </div>
    <div class="col-md-6">
    <label for="password">Contraseña:
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </label>
        </div>
        <div class="botones">
    <button type="submit" class="btn btn2 btn-primary">Registrar</button>
    <a href="/usuario/login" type="submit" class="btn btn2 btn-primary">Iniciar Sesión</a>
        </div>
</form>

</div>
</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>